# Python
__pycache__/
*.pyc

# Virtual environments
venv/
venv_preprocess/
venv_train/
venv_preprocess_old/
.venv/

# Models (optional)
*.keras
*.h5

# Dataset
dataset/

# Debug files
debug_*.jpg
uploads/